<header class="d-flex justify-content-between align-items-center p-3 bg-dark text-white">

  <div class="d-flex align-items-center">
    <img src="/assets/barca.png" alt="Logo Barcelona" width="50" height="50" class="me-2">
    <span class="h5 mb-0">FC Barcelona</span>
  </div>

  <nav class="nav">
    <a routerLink="/home" class="nav-link text-white">Home</a>
    <a routerLink="/login" class="nav-link text-white">Login</a>
    <a routerLink="/registro" class="nav-link text-white">Registro</a>
    <a routerLink="/usuarios" class="nav-link text-white">Usuarios</a>
 </nav>
</header>

<router-outlet></router-outlet>
