<div class="container mt-4">
  <h3 class="text-center text-primary mb-4">Registrar usuario</h3>

  <div *ngIf="mensaje" class="alert alert-success text-center">{{ mensaje }}</div>

<!-- Formulario para crear usuario -->
<form [formGroup]="form" (ngSubmit)="registrarUsuario()" class="mb-5 border p-4 shadow">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>Nombre</label>
      <input class="form-control" formControlName="nombre" />
    </div>
    <div class="col-md-6 mb-3">
      <label>Correo</label>
      <input type="email" class="form-control" formControlName="correo" />
    </div>
    <div class="col-md-6 mb-3">
      <label>Contraseña</label>
      <input type="password" class="form-control" formControlName="contrasena" />
    </div>
    <div class="col-md-6 mb-3">
      <label>Rol</label>
      <select class="form-control" formControlName="rol">
        <option value="usuario">Usuario</option>
        <option value="admin">Administrador</option>
        <option value="tecnico">Técnico</option>
        <option value="jugador">Jugador</option>
      </select>
    </div>
    <div class="col-md-6 mb-3" *ngIf="form.get('rol')?.value === 'jugador'">
      <label>Posición</label>
      <select class="form-control" formControlName="posicion">
        <option value="Portero">Portero</option>
        <option value="Defensa">Defensa</option>
        <option value="Centrocampista">Centrocampista</option>
        <option value="Delantero">Delantero</option>
      </select>
    </div>
    <div class="col-12 mt-3">
      <button class="btn btn-success w-100" type="submit" [disabled]="form.invalid">Crear Usuario</button>
    </div>
  </div>
</form>

<!-- Tabla de usuarios -->
<div *ngIf="usuarios.length === 0">No hay usuarios registrados.</div>
<h3 class="text-center text-primary mb-4">Usuarios Registrados</h3>
<div class="table-responsive mt-3">
  <table class="table table-hover table-bordered shadow">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Posición</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios">
        <td>{{ user.nombre }}</td>
        <td>{{ user.correo }}</td>
        <td>{{ user.rol }}</td>
        <td>{{ user.posicion || 'N/A' }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
