<form [formGroup]="form" (ngSubmit)="registrarUsuario()" class="container mt-5" style="max-width: 400px">
  <h2 class="text-center">Registro</h2>

  <div class="mb-3">
    <label>Nombre</label>
    <input type="text" class="form-control" formControlName="nombre" />
  </div>

  <div class="mb-3">
    <label>Correo</label>
    <input type="email" class="form-control" formControlName="correo" />
  </div>

  <div class="mb-3">
    <label>Contraseña</label>
    <input type="password" class="form-control" formControlName="contrasena" />
  </div>

  <div class="mb-3">
    <label>Rol</label>
    <select class="form-control" formControlName="rol">
      <option value="jugador">Jugador</option>
      <option value="tecnico">Técnico</option>
      <option value="usuario">Usuario</option>
      <option value="admin">Administrador</option>
    </select>
  </div>

  <div class="mb-3" *ngIf="form.get('rol')?.value === 'jugador'">
    <label>Posición</label>
    <select class="form-control" formControlName="posicion">
      <option value="Portero">Portero</option>
      <option value="Defensa">Defensa</option>
      <option value="Centrocampista">Centrocampista</option>
      <option value="Delantero">Delantero</option>
    </select>
  </div>

  <button class="btn btn-primary w-100" type="submit">Registrar</button>

  <div *ngIf="mensaje" class="alert alert-success mt-3">{{ mensaje }}</div>
  <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
</form>
