<div class="container mt-4">
  <h3 class="text-center text-success mb-4">Partidos Registrados</h3>
  <div *ngIf="partidos.length === 0">No hay partidos registrados.</div>

  <table class="table table-hover table-bordered shadow mt-3" *ngIf="partidos.length > 0">
    <thead class="table-dark">
      <tr>
        <th>Rival</th>
        <th>Fecha</th>
        <th>Estadio</th>
        <th>Competencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partido of partidos">
        <td>{{ partido.equipoRival }}</td>
        <td>{{ partido.fecha | date: 'mediumDate' }}</td>
        <td>{{ partido.estadio }}</td>
        <td>{{ partido.competencia }}</td>
      </tr>
    </tbody>
  </table>
</div>
